body {
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #EAF6F6;
    line-height:normal;
  }
/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #66BFBF;
    top: 0;
    width: 100%;
  }
/* header background picture */
.my_picture {
    max-width: 600px;
    margin: 0 auto;
    height: 500px;
    padding-bottom: 50px;
    padding-right: 20px;
    background-image: url('baileyAndI.jpeg');
    background-repeat: no-repeat;
    background-position: center;
 }