body {
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #EAF6F6;
    line-height:normal;
  }

  /* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #66BFBF;
    top: 0;
    width: 100%;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: #11cdd4;
  }
  .active:hover {
    background-color: #11cdd4;
  }
  .my_picture {
    max-width: 600px;
    margin: 0 auto;
    height: 500px;
    padding-bottom: 50px;
    padding-right: 20px;
    background-image: url('baileyAndI.jpeg');
    background-repeat: no-repeat;
    background-position: center;
 }

 /* header background picture */
 h1{
    font-size: 4rem;
    font-family: 'Sacramento', cursive;
     color: #030303;
   }
   p {
     color: #020202;
     max-width: 600px;
     margin: 0 auto;
     height: 100px;
     padding-top: 10px;
     padding-bottom: 50px;
     padding-right: 20px;
   }
   p#container {
     text-align: center;
     height: 5px;
     padding-bottom: 15;
     margin-bottom: 20PX;
   }
   
 /* about me Section */
  .about_me p {
    font-size: 1.2rem;
  }
  #about{
  display: inline-block;
  padding: 15px 25px;
  font-size: 4rem;
  font-family: 'Sacramento', cursive;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #66BFBF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
   }
   #about:hover {
    background-color: #11cdd4;
  }   
 .about_me {
    max-width: auto;
    height: 500px;
    margin:auto;
    padding-bottom: 50px;
    background-image: url('ocean.jpeg');
    background-position: center;
    background-repeat: no-repeat;
 }

 /* Form for input */
 div 
  .container {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  label[for='name'] {
    margin-top: 20px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #11cdd4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #555;
  }
  /* Fotter container */
   .bottom-container {
    background-color: #66BFBF;
    padding: 20px 0 20px;
   
} 
div.bottom-container > a {
  color: #11999E;
    font-family: 'Montserrat', sams-serif;
    margin: 10px 20px;
    text-decoration: none;
    
}

